<link rel="stylesheet" href="/css/projects.css" />

{{> pageTop }}

<div class="main">

  <div class="container">
    <h2>Portfolio</h2>

    <ul
      class="nav nav-pills sort-source"
      data-sort-id="portfolio"
      data-option-key="filter"
    >
      <li data-option-value="*" class="active"><a href="#">Show All</a></li>
      <li data-option-value=".websites"><a href="#">Websites</a></li>
      <li data-option-value=".logos"><a href="#">Logos</a></li>
      <li data-option-value=".brands"><a href="#">Brands</a></li>
    </ul>

    <hr />

    <div class="row">

      <div class="UploadNewPorject">
        <a href="/addProject/{{user_id}}" class="UploadButton">Upload new project</a>
      </div>

      <ul class="portfolio-list sort-destination" data-sort-id="portfolio">

        {{#if project}}

          {{#each project}}

            <li class="col-sm-6 col-xs-12 isotope-item websites">
              <div class="portfolio-item img-thumbnail">
                <a href="/singleProject/{{user_id}}/{{this.id}}" class="thumb-info">
                  <img
                    alt=""
                    width="560"
                    height="375"
                    class="img-responsive"
                    src="{{this.cover}}"
                  />
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">{{this.title}}</span>
                    <span class="thumb-info-type">{{this.type}}</span>
                  </span>
                  <span class="thumb-info-action">
                    <span title="Universal" class="thumb-info-action-icon"><i
                        class="fa fa-link"
                      ></i></span>
                  </span>
                </a>
              </div>
            </li>

          {{/each}}

        {{else}}

          <h2>There is no any project to show</h2>

        {{/if}}

      </ul>

    </div>

  </div>
</div>